<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/Blog.css">   
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper teal">
                    <a href="#" class="brand-logo center">Blog</a>
                    <ul class="right">
                        <li><a href="index.html">Home<span class="new badge">
                                    <script id="poststoday-template" type="text/x-handlebars-template">{{poststoday}}</script></span></a></li>
                        <li><a href="admin.html">Admin</a></li>
                    </ul>
                <nav>
                    <ul id="slide-out" class="side-nav">
                   <script id="blogs-title"  type="text/x-handlebars-template">
          {{#each posts}}
                  <div class="blog-title">
            <a id={{title}} href="#{{title}}"class="blog-post-title">{{title}}</a>      
            
                </div>
    {{/each}}
      </script>    
                    </ul>
                    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
                </nav>
                </div>
            </nav>
        </header>
        <main>
            
            <div class="containter">
                <div class="row">
                    <h1 class="center-align">Cameron's Blog</h1>
                </div>
               <div class="row">
                    <div class="col s12 main-container">
                        
                    </div> 
                </div>
            </div>
        </main>
        <footer class="page-footer teal">
            <div class="container">
                <p><a href="#">Back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    *2k16 Cameron*
                </div>
            </div>
        </footer>
        <!--Comment for video on signing up for Backendless.com-->
        <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/blog.js" ></script>
      
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js

"></script>
      <script src="js/handlebars-v4.0.5.js" type="text/javascript"></script>
     <!-- THIS IS THE TEMPLATE FOR RENDERING THE POSTS -->
      <script id="blogs-template"  type="text/x-handlebars-template">
          {{#each posts}}
                  <div class="blog-post" id="{{title}}">
            <h2 class="blog-post-title">{{title}}</h2>      
            <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
    <div>{{{content}}}</div>
                </div>
    {{/each}}
      </script>    
    </body>
  </html>